.center-container {
  width: 1160px !important;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.center-container .main-shopping-top {
  margin: 20px 0;
}

.main-shopping-tb {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.main-shopping-tb .main-td-1 {
  background: url(../img/cart-in.png) no-repeat;
  background-size: 100% 100%;
  color: #fff !important;
}
.main-shopping-tb .main-td-1 span {
  margin-top: 0;
  font-size: 16px;
  display: block;
  padding: 0 10px;
  text-align: center;
}
.main-shopping-tb .main-td-1 span i {
  width: 22px;
  margin-right: 8px;
  margin-left: -25px;
  display: inline-block;
  font-style: normal;
}
.main-shopping-tb .main-td-2 {
  color: #767676;
  width: 33%;
  background: url(../img/cart-out-1.png);
}
.main-shopping-tb .main-td-2 i {
  color: #767676;
  width: 22px;
  text-align: center;
  margin-right: 8px;
  margin-left: 65px;
  display: inline-block;
  font-style: normal;
}
.main-shopping-tb .main-td-3 {
  color: #767676;
  width: 33%;
  background: url(../img/cart-out-1.png);
  text-align: center;
  background-size: 100% 100%;
  padding: 0;
  white-space: nowrap;
}
.main-shopping-tb .main-td-3 span {
  margin-top: 0;
  font-size: 16px;
  display: block;
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
}
.main-shopping-tb .main-td-3 span i {
  color: #767676;
  width: 22px;
  text-align: center;
  margin-right: 8px;
  margin-left: -25px;
  display: inline-block;
  font-style: normal;
}

.main-shopping-container {
  border: 1px solid #efefef;
}
.main-shopping-container .cart-main-tab {
  color: #666;
  border-spacing: 0;
  border-collapse: collapse;
}
.main-shopping-container .cart-main-tab td {
  line-height: 20px;
  vertical-align: top;
  text-align: center;
  padding: 2px 0;
}

.wrap-tr-box {
  background-color: #f2f2f2;
  color: #a5a5a5;
}
.wrap-tr-box tr {
  height: 37px;
}
.wrap-tr-box tr th {
  font-weight: 400;
  color: #a5a5a5;
  font-size: 14px;
  text-align: center;
}
.wrap-tr-box tr th label {
  font-weight: normal;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

.choose-products {
  border-bottom: 1px solid #efefef;
}
.choose-products .td-check-box {
  padding-top: 15px;
  padding-bottom: 8px;
  line-height: 20px;
  vertical-align: top;
  text-align: center;
  padding: 2px 0;
}
.choose-products .td-check-box input {
  margin-top: 40px;
  margin: 4px 0 0;
  line-height: normal;
  height: 13px;
  border-width: 1px;
  border-color: #ccc;
}

.p-info {
  padding-top: 15px;
  padding-bottom: 8px;
  text-align: left;
  line-height: 20px;
  vertical-align: top;
  padding: 2px 0;
}
.p-info .p-pic {
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  font-family: Arial;
}
.p-info .p-pic img {
  width: 100px;
  height: 100px;
}
.p-info .p-two {
  float: left;
  width: 220px;
  margin-left: 10px;
  font-size: 14px;
}
.p-info .p-two a {
  color: #767676;
}
.p-info .p-two .p-spec {
  float: left;
  padding: 0 6px;
  line-height: 20px;
  margin-bottom: 6px;
  background-color: #efefef;
}

.p-price {
  padding-top: 38px;
}

.padding-top {
  padding-top: 50px;
}
.padding-top .p-quantity {
  width: 74px;
  margin: 0 auto;
  overflow: hidden;
}
.padding-top .p-quantity a {
  float: left;
  width: 20px;
  height: 21px;
  overflow: hidden;
  border: 1px solid #a9a9a9;
  text-align: center;
  color: #767676;
}
.padding-top .p-quantity input {
  float: left;
  width: 30px;
  height: 21px;
  line-height: 21px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #a9a9a9;
  text-align: center;
  padding: 0;
  margin: 0;
}
.padding-top .warn-message {
  clear: both;
  width: 74px;
  margin: 2px auto;
  text-align: center;
  color: #fff;
  background-color: #ef4521;
  display: block;
}

.subtotal {
  color: #fe2000;
}

.operation a {
  color: #026eb7;
}
.operation i {
  padding: 0 3px;
  font-style: normal;
}

.choose-products-bottom td {
  line-height: 20px;
  vertical-align: top;
  text-align: center;
  padding: 2px 0;
}
.choose-products-bottom .order-price {
  font-size: 14px;
  padding: 15px 1px 10px;
  line-height: 30px;
  white-space: nowrap;
}

.order-price ul {
  width: 370px;
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

.order-price .goods {
  overflow: hidden;
  clear: both;
}
.order-price .goods .label {
  padding-top: 10px;
  color: #8c8c8c;
  font-size: 14px;
  float: left;
  text-align: right;
  width: 200px;
  display: inline;
  padding: .2em .6em .3em;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.order-price .goods .label em {
  font-style: normal;
}
.order-price .goods .price {
  float: left;
  text-align: left;
  width: 150px;
  padding-left: 5px;
  color: #fe2000;
}
.order-price .goods .price i {
  text-align: left;
  color: #fe2000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}
.order-price .total {
  line-height: 40px;
  overflow: hidden;
  clear: both;
}
.order-price .total .label {
  padding-top: 10px;
  color: #8c8c8c;
  font-size: 14px;
  float: left;
  text-align: right;
  width: 200px;
  display: inline;
  padding: .2em .6em .3em;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.order-price .total .label em {
  line-height: 40px;
  font-style: normal;
}
.order-price .total .price {
  line-height: 40px;
  font-size: 14px;
}
.order-price .total .price i {
  line-height: 40px;
  font-style: normal;
}

.cart-bottom-btn .cart-left {
  line-height: 20px;
  vertical-align: top;
  text-align: center;
  padding: 2px 0;
}
.cart-bottom-btn .cart-left button {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  display: none !important;
}

.cart-left .one {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  padding-left: 10px;
  height: 100%;
  line-height: 1.91667;
  font-size: inherit;
}
.cart-left .one .two {
  border: 0 none;
  background-color: transparent;
  padding-left: 0;
  padding-right: 10px;
  display: inline-block;
  height: 100%;
  line-height: 1.91667;
  font-size: inherit;
}

.cart-right {
  width: 100%;
  height: 60px;
  padding-left: 80px;
}
.cart-right div {
  padding-right: 40px;
  width: 360px;
  float: right;
}

/*# sourceMappingURL=cart.css.map */
